<xacro:macro name="caster_wheel" params="name parent xyz">
  <joint name="${name}_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="${name}"/>
    <origin xyz="${xyz}" rpy="0 0 0"/>
  </joint>

  <link name="${name}">
    <visual>
      <geometry>
        <sphere radius="0.0352"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.0352"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="9.479166666666669e-06" ixy="0.0" ixz="0.0" iyy="9.479166666666669e-06" iyz="0.0" izz="1.5625000000000004e-05"/>
    </inertial>
  </link>

  <gazebo reference="${name}">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp value="10000000.0"/>
    <kd value="100.0"/>
    <fdir1 value="0 0 1"/>
    <material>Gazebo/Gray</material>
  </gazebo>
</xacro:macro>
