<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_bot">
  <xacro:macro name="standoff_rod" params="name parent xyz">
    <joint name="${name}_Joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}"/>
    </joint>
    <link name="${name}_link">
      <visual><geometry><cylinder radius="0.01" length="0.22"/></geometry></visual>
      <collision><geometry><cylinder radius="0.01" length="0.22"/></geometry></collision>
      <inertial><mass value="0.5"/></inertial>
    </link>
  </xacro:macro>
</robot>
