<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_bot">

    <!-- Standoff_Rod_1_link -->
    <joint name="Standoff_Rod_1_Joint" type="fixed">
        <parent link="base_link"/>
        <child link="Standoff_Rod_1_link"/>
        <origin xyz="0.1 0.1 0.1875"/>
    </joint>

    <link name="Standoff_Rod_1_link">
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0020291666666666665" ixy="0.0" ixz="0.0" iyy="0.0020291666666666665" iyz="0.0" izz="2.5e-05" />
        </inertial>
        
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
        </collision>
    </link>

    <!-- Standoff_Rod_2_link -->
    <joint name="Standoff_Rod_2_Joint" type="fixed">
        <parent link="base_link"/>
        <child link="Standoff_Rod_2_link"/>
        <origin xyz="-0.1 -0.1 0.1875"/>
    </joint>

    <link name="Standoff_Rod_2_link">
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0020291666666666665" ixy="0.0" ixz="0.0" iyy="0.0020291666666666665" iyz="0.0" izz="2.5e-05" />
        </inertial>
        
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
        </collision>
    </link>

    <!-- Standoff_Rod_3_link -->
    <joint name="Standoff_Rod_3_Joint" type="fixed">
        <parent link="base_link"/>
        <child link="Standoff_Rod_3_link"/>
        <origin xyz="0.1 -0.1 0.1875"/>
    </joint>

    <link name="Standoff_Rod_3_link">
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0020291666666666665" ixy="0.0" ixz="0.0" iyy="0.0020291666666666665" iyz="0.0" izz="2.5e-05" />
        </inertial>
        
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
        </collision>
    </link>

    <!-- Standoff_Rod_4_link -->
    <joint name="Standoff_Rod_4_Joint" type="fixed">
        <parent link="base_link"/>
        <child link="Standoff_Rod_4_link"/>
        <origin xyz="-0.1 0.1 0.1875"/>
    </joint>

    <link name="Standoff_Rod_4_link">
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0020291666666666665" ixy="0.0" ixz="0.0" iyy="0.0020291666666666665" iyz="0.0" izz="2.5e-05" />
        </inertial>
        
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.22"/>
            </geometry>
        </collision>
    </link>



</robot>
